.link-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}

.link-list a {
  display: block;
  padding: 1rem 1.5rem;
  border: 2px solid #000;
  border-radius: 1rem;
  background: rgba(0,0,0,0.3);
  color: rgba(205, 19, 103, 0.9);
  text-decoration: powderblue;
}
